<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Today I'm done</title>
    <link rel="stylesheet" href="assests/css/style.css">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        .bg-blue {
            background-color: #9fcdff;
        }
    </style>
</head>
<body>
<nav class="navbar navbar-default" role="navigation" style="opacity:0.8 ">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#"><span class="glyphicon glyphicon-check gi-2x"></span> <span class="text30">Today I'm done</span></a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse navbar-ex1-collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#" data-toggle="modal" data-target="#modalSettings"><span class="glyphicon glyphicon-cog gi-2x"></span></a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="text20"></span><b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="#" data-toggle="modal" data-target="#modalProfile"><span class="glyphicon glyphicon-pencil"></span> Change profile</a></li>
                        <li><a href="#"><span class="glyphicon glyphicon-log-out"></span> Log out</a></li>
                    </ul>
                </li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div>
</nav>
<br>
<br>
<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-push-3 col-xs-8 col-xs-push-2">
            <form method="" action="#">
                <div class="clocktime">
                    <div class="clock">
                        <img src="assests/images/Tomato1.png" alt="" class = "img-responsive">
                        <div class = "time">25:00</div>
                    </div>
                    <br>
                    <div class="btngrp text-center">
                        <button class="btn btn-success radius btn-lg" id="timer_start" type="submit" value="Start">Start</button>
                        <button class="btn btn-warning radius btn-lg" id="timer_stop" type="submit" value="Stop">Stop</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <br>
    <br>
    <div class="row">
        <div class="tasks">
            <div class="col-lg-8 col-lg-push-2">
                <div class="well">
                    <div id="slogan"><span class="glyphicon glyphicon-th-list"></span> Make my day</div>
                    <br>
                    <% tasks.forEach(function(task) {
                        if (task.getDone() == false) { %>
                            <div class="thumbnail  pad10">
                                <p id = "content<%= task.getID()%>"><%= task.getName()%></p>
                                <div class="text-right">
                                    <a href="/done?id=<%= task.getID()%>"><button class="btn glyphicon glyphicon-ok" id="done"></button></a>
                                    <a href="/pomo?id=<%= task.getID()%>"><button class="btn glyphicon glyphicon-time" id="pomo"></button></a>
                                    <a><button class="btn glyphicon glyphicon-pencil" id="fixBtn" onclick="fixBtn(<%= task.getID()%>)"></button></a>
                                    <a href="/delete?id=<%= task.getID()%>"><button class="btn glyphicon glyphicon-trash" id="delete"></button></a>
                                </div>
                            </div>
                        <%}
                        else { %>
                            <div class="thumbnail  pad10 bg-blue">
                                <p><%= task.getName()%></p>
                                <div class="text-right">
                                    <a href="/reset?id=<%= task.getID()%>"><button class="btn glyphicon glyphicon-refresh" id="reset"></button></a>
                                    <a href="/delete?id=<%= task.getID()%>"><button class="btn glyphicon glyphicon-trash" id="delete"></button></a>
                                </div>
                            </div>
                        <%}
                    }); %>
                    <form method="POST" action="/insert" class="form-inline">
                        <div class="form-group">
                            <input type="text" name="newtask" placeholder="Input new task here..." required="" class="form-control">
                            <button type="submit" class="btn btn-success" id="addTask" name="addTask">Add</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal -->
    <form action="#" method="">
    <div class="modal fade" id="modalSettings" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h2 class="modal-title"><b>Options</b></h2>
                </div>
                <div class="modal-body">
                    <h4>Select sound</h4>
                        <select class="form-control" id="ring">
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                        </select>
                    <h4>Select volume <span class="glyphicon glyphicon-volume-up"></span></h4>
                    <div class="text-center">
                        <label class="radio-inline">
                            <input type="radio" name="optradio">25%
                        </label>
                        <label class="radio-inline">
                            <input type="radio" name="optradio">50%
                        </label>
                        <label class="radio-inline">
                            <input type="radio" name="optradio">75%
                        </label>
                        <label class="radio-inline">
                            <input type="radio" name="optradio">100%
                        </label>
                    </div>
                </div>
                <div class="modal-footer text-right">
                    <button class="btn btn-success" id="SaveSettings" type="submit">Save</button>
                    <button class="btn btn-default" id="ResetSettings" type="reset">Reset</button>
                </div>
            </div>
        </div>
    </div>
    </form>

    <form action="#" method="">
        <div class="modal fade" id="modalProfile" role="dialog">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h2 class="modal-title"><b>Profile</b></h2>
                    </div>
                    <div class="modal-body">
                        <div class="input-group">
                            <span class="input-group-addon">Full Name</span>
                            <input id="fullName" type="text" class="form-control" name="fullName" placeholder="Your full name">
                        </div>
                        <br>
                        <div class="input-group">
                            <span class="input-group-addon">Email</span>
                            <input id="email" type="password" class="form-control" name="email" placeholder="Your email">
                        </div>
                        <br>
                        <b>Change your password</b>
                        <div class="input-group">
                            <span class="input-group-addon">Your old password</span>
                            <input id="oldPassword" type="password" class="form-control" name="oldPassword" placeholder="">
                        </div>
                        <br>
                        <div class="input-group">
                            <span class="input-group-addon">Your new password</span>
                            <input id="newPassword" type="text" class="form-control" name="newPassword" placeholder="">
                        </div>
                        <br>
                        <div class="input-group">
                            <span class="input-group-addon">Retype new password</span>
                            <input id="retypePassword" type="password" class="form-control" name="retypePassword" placeholder="">
                        </div>
                    </div>
                    <div class="modal-footer text-right">
                        <button class="btn btn-success" id="SaveProfile" type="submit">Save</button>
                        <button class="btn btn-default" id="ResetProfile" type="reset">Reset</button>
                    </div>
                </div>
            </div>
        </div>
    </form>

    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h2 class="modal-title"><b>Change your task</b></h2>
                </div>
                <div class="modal-body">
                    <div class="input-group">
                        <input type="text" hidden value="" id="task_id">
                        <span class="input-group-addon">Your task</span>
                        <input id="task_modal_name" type="text" class="form-control" name="Task" placeholder="">
                    </div>
                </div>
                <div class="modal-footer text-right">
                    <button class="btn btn-success" id="SaveTask" type="submit">Save your change</button>
                    <button class="btn btn-default" id="ResetTask" type="reset">Reset</button>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>

<script>
  function fixBtn (id) {
    $.get('/task?id=' + id, (data, status) => {
        let obj = JSON.parse(data);
        $('#task_modal_name').val(obj.name)
        $('#task_id').val(obj.id)
        $('#myModal').modal()
    })
  }

  $('#SaveTask').click(function () {
    let id = parseInt($('#task_id').val())
    let name = $('#task_modal_name').val()
    var obj = { "name": name, "id": id }
    console.log(JSON.stringify(obj))
    $.ajax({
      type: "POST",
      url:   "/changetask",
      data:  obj,
      dataType: "json",
      success: function(result) {
        if (result['result'] == 'success')
        {
          console.log('success'+id)
          $('#content'+id).text(name)
          $('#myModal').modal('hide')
        }
      },
    });
  })
</script>